#mainnavigation-wrapper { margin-bottom: 3rem}

.field span,
.widgets span,
.text-widget {
    background: white !important;
    padding: 0.4rem 1rem;
}


#mycontainer,
article#content {
    background: whitesmoke;
    max-width: 1440px;
    margin: auto;
    padding: 2rem;
    box-shadow: 7px 7px 7px 2px #777;
}

select {
    background: white;
    font-size: 130%;
}

#portal-column-content form div.m-10-0 input {
    padding: 0.6rem 1rem;
    ;
    font-weight: bold;
}


.widget-label {
    min-width: 250px;
}

.form-label {
    margin-right: .5rem;
}


.viewpermission-add-portal-content #above-content-wrapper,
.template-edit #above-content-wrapper,
.template-action_items #above-content-wrapper {
    display: none !important;
}




article#content div.mb-3 {
    display: flex;
    font-size: 120%;
    flex-wrap: wrap;
}


body {
    background: #C3DCE8 ;
    xbackground: #E8DCC3
}





#content-header {
    display: none;
}

#content #fieldset {
    background: white !important
}

#viewlet-below-content #fieldset,
#viewlet-below-content {
    background: white;
    padding: 0;
    margin: 0
}

.form-label {
    margin-right: .5rem;
}

.imagediv {
    background-color: #fff;
    text-align: center;
}

.imagediv>img {
    height: 110px;
    margin: auto;
}

h2.sit_tit {
    text-align: center;
    font-size: 1.3rem;
    padding: 0.3rem;
    margin: 0;
    z-index: 4;
    background-color: rgb(95, 46, 46);
    color: white;
}

.template-edit .outer-wrapper,
.template-action_items .outer-wrapper,
.viewpermission-add-portal-content .outer-wrapper {
    background-color: #999 !important;
    min-height: 100vh;
}

.template-action_items h1.documentFirstHeading,
.template-edit h1.documentFirstHeading,
.viewpermission-add-portal-content h1.documentFirstHeading {
    background-color: #f9f2e8;
    padding: 0.7rem 2rem 0.7rem;
    color: #555;
    font-size: 1.15rem;
    margin-bottom: 0;
}

.viewpermission-add-portal-content #above-content-wrapper,
.template-edit #above-content-wrapper,
.template-action_items #above-content-wrapper {
    display: none !important;
}
 

#content .formControls {
    background: none;
}

.pat-formunloadalert .form-label,
.pat-formunloadalert legend,
legend {
    color: black !important;
    margin-right: 1rem;
    line-height: 200%;
}

.autotoc-nav a {
    color: black;
}

.pat-autotoc.autotabs a.active,
.pat-autotoc.autotabs a:hover {
    border-color: black;
    cursor: default;
    font-weight: bold;
    border-bottom-color: whitesmoke;
    background: #EEE;

}

  

.pat-formunloadalert legend {
    color: black
}

 
 